---
import EcomerceIcon from "../assets/icons/card/comerce.astro";
import UXIcon from "../assets/icons/card/ux.astro";
import MovilIcon from "../assets/icons/card/movil.astro";
import WebIcon from "../assets/icons/card/web.astro";

const iconMap: Record<string, any> = {
  Web: WebIcon,
  Movil: MovilIcon,
  UX: UXIcon,
  Ecomerce: EcomerceIcon,
};

interface Props {
  key: number;
  title?: string;
  text: string;
  icon?: string;
  pathBackground?: string;
}

const {
  key,
  title = "",
  text,
  icon = "Web",
  pathBackground = "../assets/images/logo.svg",
} = Astro.props;

const IconComponent = iconMap[icon];
const cardSize = "w-full aspect-[4/5] max-w-full";


---

<article
  id={`${key}`}
  class={`relative ${cardSize} overflow-hidden group snap-start rounded-xl`}
  aria-labelledby={`card-${title}`}
>
  <!-- Imagen de fondo -->
  <div
    class="absolute inset-0 bg-cover z-0 w-full h-full"
    style={`background-image: url(${pathBackground});`}
    aria-hidden="true"
  ></div>

  <!-- Contenido -->
  <div class="relative z-20 w-full h-full flex items-end group">
    <!-- Estado normal (sin hover) -->
    <div
      class="w-full h-full p-5 opacity-100 transition-opacity duration-300 ease-in-out absolute top-0 left-0 "
    >
     
    </div>

    <!-- Contenido solo visible en hover -->
    <div
      class="w-full h-full p-5 opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out absolute top-0 left-0 bg-black/60"
    >
      <p class="h-full text-white text-sm sm:text-base overflow-y-auto">{text}</p>
    </div>

    <!-- Línea en la parte superior al hacer hover -->
    <div
      class="absolute top-0 left-0 w-full h-1 bg-green-500 opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"
    ></div>
  </div>
</article>
